<template lang="pug">
  div
    a(:href="href" :target="header.target") {{ value }}
</template>

<script>
export default {
    name: "tbl-a",
    props: ['header', 'row'],
    methods: {
        onClick(e) {
            if (this.header.actions?.click) {
                e.preventDefault();
                this.header.actions.click(this.row)
            }
        }
    },
    computed: {
        href() {
            return this.header.href instanceof Function ?
                this.header.href(this.row) : "#"
        },
        value() {
            return this.header.value instanceof Function ?
                this.header.value(this.row) : this.row[this.header.name]
        },
    }
}
</script>
