<template lang="pug">
  .tbl__bool(:active="row[header.name]")
    svg(viewBox="0 0 12 9" fill="none")
      path(d="M1 4.5L4 7.5C4 7.5 7.96159 3.53841 10.5 1" stroke="currentColor" stroke-width="2" stroke-linecap="round")
</template>

<script>
export default {
    name: "tbl-bool",
    props: ['header', 'row']
}
</script>
