<template lang="pug">
  .tbl__toggle
    a.d-flex.align-items-center(href="#" @click.prevent="onClick" :active="row[header.toggle]")
      svg.mr-1(xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none")
        path(fill-rule="evenodd" clip-rule="evenodd" d="M0.678317 6.60657C0.678317 6.26139 0.958139 5.98157 1.30332 5.98157L5.98127 5.98122L5.98162 1.30327C5.98162 0.98464 6.22005 0.721701 6.52822 0.683135L6.60662 0.678265C6.9518 0.678265 7.23162 0.958087 7.23162 1.30327L7.23197 5.98122L11.9099 5.98157C12.2285 5.98157 12.4915 6.22 12.5301 6.52817L12.5349 6.60657C12.5349 6.95175 12.2551 7.23157 11.9099 7.23157L7.23197 7.23191L7.23162 11.9099C7.23162 12.2285 6.99319 12.4914 6.68502 12.53L6.60662 12.5349C6.26144 12.5349 5.98162 12.255 5.98162 11.9099L5.98127 7.23192L1.30332 7.23157C0.984691 7.23157 0.721753 6.99314 0.683187 6.68497L0.678317 6.60657Z" fill="#3CC8AE")
      | {{ value }}
</template>

<script>
export default {
    name: "tbl-toggle",
    props: ['header', 'row'],
    methods: {
        onClick() {
            if (this.row.hasOwnProperty(this.header.toggle)) {
                this.row[this.header.toggle] = !this.row[this.header.toggle]
            }
        }
    },
    computed: {
        value() {
            return this.header.value instanceof Function ?
                this.header.value(this.row) : this.row[this.header.name]
        },
    }
}
</script>
