<template lang="pug">
  .tbl
    table.tbl__table(cellpadding="0" cellspacing="0")
      thead
        tr.tbl__tr
          template(v-if="selectable")
            th.tbl__td.tbl__td--check
              check(v-model="is_all_selected")
          template(v-if="selected_rows.length")
            th.tbl__td(:colspan="headers.length")
              slot(name="actions")
          template(v-else)
              th.tbl__td(v-for="h in headers" :key="h.name" :align="h.align" :class="h.class_list") {{ h.label }}
      tbody(v-for="(r, i) in rows" :key="r[rowKey]")
        tr.tbl__tr
          td.tbl__td.tbl__td--check(v-if="selectable")
            check(:model_value="selected_rows" :value="rows[i][selectable]" v-model="selected_rows")
          td.tbl__td(v-for="h in headers" :key="h.name" :class="h.class_list")
            component(:is="h.cellComponent || 'tbl-td'" :header="h" :row="r")
        slot(v-bind:row="r")
      caption(:colspan="headers.length")
        .tbl__pagination(v-if="filter")
          a.tbl__pagination__action(:disabled="!has_prev" @click="getPrevRows" href="#")
            svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none")
              path(fill-rule="evenodd" clip-rule="evenodd" d="M8.70711 15.7071C8.31658 16.0976 7.68342 16.0976 7.29289 15.7071L0.292892 8.70711C0.264426 8.67864 0.237669 8.64847 0.212786 8.61675C0.207284 8.60984 0.201754 8.6026 0.196335 8.59531C0.178491 8.57113 0.161717 8.54628 0.146067 8.52066C0.138606 8.50861 0.131499 8.49639 0.124672 8.48406C0.113794 8.46429 0.103377 8.44389 0.0936546 8.4231C0.08568 8.4061 0.0781975 8.3888 0.0712261 8.37134C0.0633163 8.35158 0.0561228 8.3318 0.0495472 8.31174C0.0447292 8.29685 0.0400972 8.28146 0.0358448 8.26599C0.0298338 8.24444 0.0246391 8.22275 0.0201645 8.20079C0.0167017 8.18338 0.013629 8.16595 0.0110188 8.14847C0.00376225 8.10036 0 8.05062 0 8L0.00396729 8.08925C0.00186634 8.06567 0.000599861 8.04202 0.000167847 8.01836L0 8C0 7.99354 6.10352e-05 7.98709 0.000183105 7.98066C0.000635147 7.95732 0.0018959 7.934 0.00396729 7.91075C0.00574875 7.8903 0.00810051 7.87058 0.0110188 7.85104C0.0136271 7.83405 0.0167027 7.81662 0.0202408 7.79927C0.024641 7.77725 0.0298338 7.75556 0.0357208 7.73416C0.0400972 7.71854 0.0447283 7.70315 0.0497379 7.68786C0.0561228 7.6682 0.0633154 7.64842 0.071104 7.62894C0.0781965 7.6112 0.0856791 7.5939 0.0936737 7.57678C0.103377 7.55611 0.113794 7.53571 0.124876 7.51572C0.131499 7.50361 0.138608 7.49139 0.145996 7.47929C0.161719 7.45372 0.178491 7.42887 0.196314 7.40484C0.225313 7.36567 0.257499 7.32829 0.292892 7.29289L0.212786 7.38325C0.215071 7.38034 0.217372 7.37744 0.219688 7.37455L0.292892 7.29289L7.29289 0.292892C7.68342 -0.0976315 8.31658 -0.0976315 8.70711 0.292892C9.09763 0.683416 9.09763 1.31658 8.70711 1.70711L3.415 7L15 7C15.5128 7 15.9355 7.38604 15.9933 7.88338L16 8C16 8.55228 15.5523 9 15 9L3.415 9L8.70711 14.2929C9.06759 14.6534 9.09532 15.2206 8.7903 15.6129L8.70711 15.7071Z" fill="currentColor")
          .tbl__pagination__text {{ filter.offset }} - {{ filter.offset + filter.limit }}   из {{ filter.count }}
          a.tbl__pagination__action(:disabled="!has_next" @click="getNextRows" href="#")
            svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none")
              path(fill-rule="evenodd" clip-rule="evenodd" d="M7.29289 0.292893C7.68342 -0.0976311 8.31658 -0.0976311 8.70711 0.292893L15.7071 7.29289C15.7356 7.32136 15.7623 7.35153 15.7872 7.38325C15.7927 7.39016 15.7982 7.3974 15.8037 7.40469C15.8215 7.42887 15.8383 7.45372 15.8539 7.47934C15.8614 7.49139 15.8685 7.50361 15.8753 7.51594C15.8862 7.53571 15.8966 7.55611 15.9063 7.5769C15.9143 7.5939 15.9218 7.6112 15.9288 7.62866C15.9367 7.64842 15.9439 7.6682 15.9505 7.68826C15.9553 7.70315 15.9599 7.71854 15.9642 7.73401C15.9702 7.75556 15.9754 7.77725 15.9798 7.79921C15.9833 7.81662 15.9864 7.83405 15.989 7.85153C15.9962 7.89964 16 7.94938 16 8L15.996 7.91075C15.9981 7.93433 15.9994 7.95798 15.9998 7.98164L16 8C16 8.00646 15.9999 8.01291 15.9998 8.01934C15.9994 8.04268 15.9981 8.066 15.996 8.08925C15.9943 8.1097 15.9919 8.12942 15.989 8.14896C15.9864 8.16595 15.9833 8.18338 15.9798 8.20073C15.9754 8.22275 15.9702 8.24444 15.9643 8.26584C15.9599 8.28146 15.9553 8.29685 15.9503 8.31214C15.9439 8.3318 15.9367 8.35158 15.9289 8.37106C15.9218 8.3888 15.9143 8.4061 15.9063 8.42322C15.8966 8.44389 15.8862 8.46429 15.8751 8.48428C15.8685 8.49639 15.8614 8.50861 15.854 8.52071C15.8383 8.54628 15.8215 8.57113 15.8037 8.59516C15.7747 8.63433 15.7425 8.67171 15.7071 8.70711L15.7872 8.61675C15.7849 8.61966 15.7826 8.62256 15.7803 8.62545L15.7071 8.70711L8.70711 15.7071C8.31658 16.0976 7.68342 16.0976 7.29289 15.7071C6.90237 15.3166 6.90237 14.6834 7.29289 14.2929L12.585 9H1C0.487164 9 0.0644928 8.61396 0.0067277 8.11662L0 8C0 7.44772 0.447715 7 1 7H12.585L7.29289 1.70711C6.93241 1.34662 6.90468 0.779392 7.2097 0.387101L7.29289 0.292893Z" fill="currentColor")
</template>

<script>
export default {
    name: "tbl",
    props: {
        selectable: {
            default: false
        },
        loading: {
            type: Boolean,
            default: false
        },
        headers: {
            type: Array
        },
        rows: {
            type: Array
        },
        rowKey: {
            type: String
        },
        filter: {
            type: Object,
            required: false
        }
    },
    data() {
        return {
            selected_rows: []
        }
    },
    computed: {
        is_all_selected: {
            get() {
                return this.rows.length && this.rows.length === this.selected_rows.length
            },
            set(value) {
                this.selected_rows = value ? this.rows.map(x => x[this.selectable]) : []
            }
        },
        has_next() {
            return this.filter?.count - this.filter?.offset > 0
        },
        has_prev() {
            return this.filter?.offset > 0
        }
    },
    watch: {
        selected_rows: {
            deep: true,
            handler(value) {
                this.$emit('update-selected', value)
            }
        }
    },
    methods: {
        getNextRows() {
            if (this.filter.count < this.filter.offset + this.filter.limit + this.filter.limit) {
                this.filter.offset = this.filter.count - this.filter.limit
            }
            else {
                this.filter.offset =  this.filter.offset + this.filter.limit
            }
            this.$emit("update-rows")
        },
        getPrevRows() {
            if (this.filter.offset - this.filter.limit >= 0) {
                this.filter.offset -= this.filter.limit
            }
            else {
                this.filter.offset = 0
            }
            this.$emit("update-rows")
        }
    }
}
</script>
