<template lang="pug">
  .container.p-3
    .row.justify-content-end.mb-5.align-items-center
      .col-auto.font-weight-bolder {{ full_name }}
      .col-auto
        btn.mr-2(@click="test" secondary) Тест переопроса
        btn(@click="logout" primary) Logout
    .row.align-items-center.justify-content-between
      .col-auto.mb-4
        h1 Таблица заказов
      .col-auto.mb-4
        btn.mr-2(secondary disabled) Отправления
        btn(primary disabled) Экспортировать
    .row.mb-4
      .col-auto
        btn.btn--large(@click="test" secondary disabled) Фильтр
      .col
        field(v-model="filter.search" label="Поиск" @input="debouncedGetList")
    .row
      .col-12
        tbl(
          :headers="headers"
          :loading="loading"
          :rows="list"
          :row-key="'order_id'"
          :selectable="'order_id'"
          :filter="filter"
          v-on:update-selected="setSelectedRows"
          v-on:update-rows="getList"
          )
          template(v-slot:actions)
            a.mr-2(href="#" @click.prevent="updateSelected") Обновить
            a(href="#" @click.prevent="deleteSelected") Удалить
          template(v-slot:default="slotProps")
              tr.tbl__items__td
                td(:colspan="headers.length + 1")
                  transition-expand
                    .tbl__items(v-if="slotProps['row'].is_items_shown")
                      .tbl__items__wrapper
                        .tbl__items__body
                          | {{ slotProps['row'].items }}
</template>
<script>
import OrdersResource from '../resource/orders-resource'
import { mapActions, mapGetters } from 'vuex'
import {Order, TableFilter} from "../data/common";
import {debounce} from "../utils/common";
import {Notificate} from "../utils/notification";

export default {
    name: 'Dash',
    data () {
        return {
            filter: new TableFilter(),
            loading: false,
            list: [],
            selected_orders: [],
            selected_rows: [],
            t: false
        }
    },
    async created () {
        await this.getList()
    },
    computed: {
        ...mapGetters(['full_name']),
        debouncedGetList: function() {
            return debounce(() => {
                this.filter.clear()
                this.getList()
            }, 1000);
        },
        is_all_checked: {
            get() {
                return this.list.length && this.list.length === this.selected_orders.length
            },
            set(value) {
                this.selected_orders = value ? this.list.map(x => x.order_id) : []
            }
        },
        headers() {
            return [
                {
                    label: "ID",
                    name: "order_id",
                    cellComponent: "tbl-a",
                    class_list: "no-wrap"
                },
                {
                    label: "Товары",
                    name: "items_label",
                    toggle: "is_items_shown",
                    cellComponent: "tbl-toggle",
                    class_list: "no-wrap"
                },
                {
                    label: "Дата заказа",
                    name: "create_date",
                },
                {
                    label: "Оплачено",
                    name: "is_paid",
                    cellComponent: "tbl-bool",
                    class_list: "text-center"
                },
                {
                    label: "Отправлено",
                    name: "is_shipped",
                    cellComponent: "tbl-bool",
                    class_list: "text-center"
                },
                {
                    label: "Доставлено",
                    name: "is_completed",
                    cellComponent: "tbl-bool",
                    class_list: "text-center"
                },
                {
                    label: "Покупатель",
                    name: "buyer",
                },
                {
                    label: "Стоимость",
                    name: "total_price",
                    class_list: "text-right"
                },
            ]
        }
    },
    methods: {
        ...mapActions(['logout']),
        async getList () {
            this.loading = true
            this.selected_orders = []
            try {
                await OrdersResource.list(this.filter)
                    .then(data => {
                        this.list = data.results.map(item => new Order(item))
                        this.filter.count = data.count
                    })
            }
            finally {
                this.loading = false
            }
        },
        updateSelected() {
            Notificate.success(`Обновляю ${ this.selected_rows.join(", ") }`)
        },
        deleteSelected() {
            Notificate.success(`Удаляю ${ this.selected_rows.join(", ") }`)
        },
        setSelectedRows(rows) {
            this.selected_rows = rows
        },
        test() {
            localStorage.access = "expriedtoken"
            this.getList()
            this.getList()
        }
    }
}
</script>
