<template lang="pug">
  auth
    h1.mb-5.text-center Вход
    form(@submit.prevent="tryLogin")
      field.mb-4(label="E-mail или телефон" v-model="form.email" type="email")
      field.mb-5(label="Пароль" v-model="form.password" type="password")
      btn(:disabled="loading" fluid primary large) Войти
</template>

<script>
import { mapActions } from 'vuex'
import {Notificate} from "../utils/notification";

export default {
    // Валидации, маски, компоненты для инпутов не делал - не было в тз
    name: 'Home',
    data () {
        return {
            // Формы обычно делаю через классы для переиспользывания
            form: {
                email: '',
                password: ''
            },
            loading: false
        }
    },
    methods: {
        ...mapActions(['login']),
        async validate() {
            // Обычно использую vee-validate
            if (!this.form.email && !this.form.password) {
                Notificate.error("Пожалуйста введите E-mail/Пароль")
                return Promise.reject("Пожалуйста введите E-mail/Пароль")
            }
            return Promise.resolve()
        },
        async tryLogin() {
            try {
                this.loading = true
                await this.validate()
                await this.login(this.form)
            }
            finally {
                this.loading = false
            }
        }
    }
}
</script>
