<template lang="pug">
  label.check
    input(type="checkbox"
      :checked="is_checked"
      :value="value"
      @change="update"
    )
    .check__label
      svg(viewBox="0 0 18 13" fill="none")
        path(fill-rule="evenodd" clip-rule="evenodd" d="M1.70711 6.29289C1.31658 5.90237 0.683418 5.90237 0.292893 6.29289C-0.0976311 6.68342 -0.0976311 7.31658 0.292893 7.70711L5.29289 12.7071C5.68342 13.0976 6.31658 13.0976 6.70711 12.7071L17.7071 1.70711C18.0976 1.31658 18.0976 0.683418 17.7071 0.292893C17.3166 -0.0976311 16.6834 -0.0976311 16.2929 0.292893L6 10.5858L1.70711 6.29289Z" fill="#152739")
</template>

<script>
export default {
    name: "check",
    model: {
        prop: 'model_value',
        event: 'change'
    },
    props: {
        value: {
            type: String,
        },
        model_value: {
            default: false
        },
        trueValue: {
            default: true
        },
        falseValue: {
            default: false
        }
    },
    computed: {
        is_checked() {
            if (this.model_value instanceof Array) {
                return this.model_value.includes(this.value)
            }
            return this.model_value === this.trueValue
        },
    },
    methods: {
        update(event) {
            let isChecked = event.target.checked

            if (this.model_value instanceof Array) {
                let new_value = [...this.model_value]

                if (isChecked) {
                    new_value.push(this.value)
                } else {
                    new_value.splice(new_value.indexOf(this.value), 1)
                }

                this.$emit('change', new_value)
            } else {
                this.$emit('change', isChecked ? this.trueValue : this.falseValue)
            }
        }
    }
}
</script>
