<template lang="pug">
  label.field(:for="name")
    input.field__input(
      v-bind="$attrs"
      v-bind:value="value"
      v-on="listeners"
      :placeholder="label"
      :name="name"
      :id="name"
      autocomplete="off"
      )
    .field__icons
      slot(name="icons")
</template>

<script>
export default {
    name: "field",
    inheritAttrs: false,
    props: ['label', 'value'],
    computed: {
        name() {
            return this.$attrs.name ? this.$attrs.name : "field_" + this._uid;
        },
        listeners() {
            const self = this
            return { ...this.$listeners, input: function (event) {
                self.$emit('input', event.target.value)
            }}
        }
    }
}
</script>
