.auth
  min-height: 100vh
  background: var(--gray)
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center
  padding: .8rem

  &__body
    flex: 0 0 380px
    max-width: 100%
    background: var(--white)
    padding: 2rem 2.5rem
    border-radius: var(--b-radius)
    box-shadow: 0 0 20px rgba(15, 27, 37, 0.2)
