.btn
  display: inline-flex
  align-items: center
  justify-content: center
  border: none
  border-radius: 4px
  text-transform: uppercase
  font-size: .7rem
  font-weight: 500
  padding: 9px 11px 7px 12px
  background: transparent
  outline: none
  color: var(--f-black)
  transition: opacity .3s ease-in-out
  user-select: none

  &[fluid], &.btn--fluid
    width: 100%

  &[primary], &.btn--primary
    color: var(--white)
    background: var(--primary)

  &[secondary], &.btn--secondary
    color: var(--white)
    background: var(--dark)

  &:hover:not(:disabled)
    opacity: .85

  &[disabled]
    opacity: .5

  &[large], &.btn--large
    height: 52px
