.check
  display: inline-flex
  position: relative
  margin: 0

  &__label
    width: 24px
    height: 24px
    border: 1px solid #C5C7CD
    border-radius: 3px
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer

    svg
      flex: 0 0 18px
      transition: .2s ease-in-out
      opacity: 0

  input
    display: none

    &:checked ~ .check__label svg
      opacity: 1

  &[disabled]
    opacity: .7
    pointer-events: none
