.field
  display: block
  width: 100%
  margin: 0
  position: relative

  &__input
    display: block
    width: 100%
    background: var(--white)
    border: 1px solid var(--border-default)
    border-radius: 6px
    padding: 13px 36px 13px 17px
    color: var(--f-black)
    font-family: inherit
    font-size: .7rem
    text-overflow: ellipsis
    filter: none
    height: 52px
    appearance: none !important

    &::placeholder
      color: var(--f-gray)

    @mixin autofill
      box-shadow: 1000px 1000px var(--white) inset
      border: 1px solid var(--border-default)
      background: var(--white)

    &:-webkit-autofill
      @include autofill

    &:-moz-autofill
      @include autofill

