.tbl
  width: 100%
  position: relative
  overflow: auto

  table
    min-width: 100%
    table-layout: fixed

  thead
    border-bottom: 10px solid var(--gray)
    font-weight: normal

  th
    user-select: none

  &__tr
    background: var(--white)
    position: relative

  &__td
    padding: 14px
    font-size: .6rem
    line-height: .7rem
    color: var(--dark)
    position: relative
    font-weight: normal
    width: 100px

    &.tbl__td--check
      width: 40px

    &:first-child
      padding-left: 20px

    &:last-child
      padding-right: 20px

  tbody:not(:last-of-type)
    td.tbl__td
      &::after
        content: ''
        display: block
        position: absolute
        left: 0
        right: 0
        bottom: 0
        height: 1px
        background: #C5C7CD
        opacity: .4

      &:first-child::after
        left: 20px

      &:last-child::after
        right: 20px


  &__bool
    display: inline-flex
    align-items: center
    justify-content: center
    width: 20px
    height: 20px
    border-radius: 50%
    background: var(--gray)
    color: var(--gray)

    svg
      width: 10px

    &[active]
      color: var(--white)
      background: var(--primary)

  &__toggle

    svg
      transition: transform .2s ease-in-out
      transform-origin: center center

    a[active] svg
      transform: rotate(45deg)

  &__items
    height: auto
    will-change: height
    transform: translateZ(0)
    backface-visibility: hidden
    perspective: 1000px

    &__wrapper
      padding: 20px 20px 0
      background: var(--white)

    &__body
      padding: 20px 20px 20px 70px
      background: var(--gray)

  &__pagination
    display: flex
    justify-content: flex-end
    align-items: center
    width: 100%
    opacity: .5

    &__action
      display: flex
      align-items: center
      justify-content: center
      width: 16px
      margin: 0 9px
      color: var(--black) !important

    &__text
      flex: 0 0 120px
      text-align: center
      color: var(--black)

