html:root
  --white: #FFFFFF
  --black: #0F1B25
  --dark: #132739
  --gray: #F6F9FC

  --primary: #3CC8AE

  --f-black: #152739
  --d-dark: #132739
  --f-gray: rgba(19, 39, 57, 0.5)

  --b-radius: 8px
  --border-default: #C5C7CD
