html
  font-size: 20px

  body
    font-size: .8rem
    line-height: 1.2
    color: var(--f-black)
    background: var(--gray)
    font-family: 'Roboto', sans-serif

  #app
    min-height: 100vh

  *
    outline: none

  h1, h2, h3, h4, h5, h6, p, ul, li
    margin: 0
    padding: 0

  h1
    font-weight: 500
    font-size: 1.8rem

.fade-enter-active,
.fade-leave-active
  transition-duration: 0.3s
  transition-property: opacity
  transition-timing-function: ease

.fade-enter,
.fade-leave-active
  opacity: 0


.expand-enter-active,
.expand-leave-active
  transition: height .3s ease-in-out
  overflow: hidden


.expand-enter,
.expand-leave-to
  height: 0


*::-webkit-scrollbar
  width: 5px
  box-shadow: none

*::-webkit-scrollbar-track
  background: var(--primary)
  box-shadow: none

*::-webkit-scrollbar-thumb
  background-color: var(--dark)

a
  color: var(--primary)

  &:hover, &:active, &:hover, &:visited
    color: var(--primary)

.no-wrap
  white-space: nowrap

*[disabled]
  pointer-events: none
  cursor: default
